body {
	background: #f7f7f7;
}
.feed_notif_block.page_block._block {
	display: none;
}
.ui_toggler_wrap.hot {
	display: none;
}
.wall_module .feed_row {
	margin-top: -7px;
}
.wall_module .post_header {
	padding: 10px 10px 5px;
}
.wall_module .wall_text {
	padding: 0 8px 5px;
}
.page_post_sized_thumbs {
	padding: 3px 0 0;
}
.post_full_like_wrap {
	margin: 0 7px;
	border: 0;
	padding-bottom: 5px;
	padding-top: 3px;
}
.post_full_like_wrap .post_full_like {
	float: right;
}
.post_full_like_wrap .reply_link_wrap {
	float: left; padding: 5px 2px;
}
.post_full_like_wrap .post_like, .post_full_like_wrap .post_share {
	padding: 0;
}
.copy_quote .wall_post_text {
	padding-top: 0;
}
.wall_module .replies_list {
	border: 0;
}
.wr_header {
	margin: 0 7px;
}
.replies_open, .wr_header {
	line-height: 27px;
}
.wall_module .reply .reply_wrap {
	padding: 8px 0;
}
.wd_lnk {
	color: #a7a5a5; font-size: 12px;
}
.wall_module .reply_box_open .submit_post_field, .wall_module .reply_box_open .submit_post_field~.placeholder .ph_input {
	min-height: 0;
}
.wall_module .wall_text .page_media_poll_wrap:last-child {
	margin-bottom: 0px;
	margin-top: 5px;
}
.wall_module .wall_text .page_media_thumbed_link:last-child {
	margin-bottom: 0px;
	margin-top: 5px;	
}

/*share and like links/icons*/
.wall_module .post_like_link, .wall_module .post_share_link {
	display: none;
}
.wall_module .post_share_icon {
    margin-top: 1px;
}

/*abandon round icons*/
.top_profile_img,
.chat_tab_img,
.module_body .people_cell_img, 
.post_img, 
.wall_module .copy_post_img, 
.page_list_module .thumb, 
.page_list_module .cell_img,
.wall_module .reply_img, 
.post_field_user_image,
.module_body .people_cell_img,
.page_list_module .thumb,
.ow_ava.ow_ava_comm,
.friends_photo_img,
.right_list_img,
.ow_ava.ow_ava_small,
.mv_author_photo,
.group_row_photo, .group_row_img,
.feedback_img,
.nim-peer .nim-peer--photo-w,
.feed_friend_image,
.feed_friend_photo_wrap .ui_zoom_inner, 
.nim-peer.nim-peer_small .im_grid>img,
.nim-peer .nim-peer--photo .im_grid>img, 
.nim-peer .nim-peer--photo>img,
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid>img
{
    border-radius: 0 !important;
}